.header {
  width: 100%;
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #333333;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  background-image:
    linear-gradient(250deg,
    #833AB4 0%,
    #FD1D1D 50%,
    #FCB045 100%
    );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: #888888;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #FAFAFA;
}

.theme-light .header {
  background-color: rgba(250, 250, 250, 0.8);
  border-bottom: 1px solid #DDDDDD;
}

.theme-light .nav a {
  color: #777777;
}

.theme-light .nav a:hover {
  color: #111111;
}
